In [1]:
#dict to store the prices of 5 items from a grocery store
items_dict = {
"sugar": 32,
 "salt": 35,
 "biscuits": 16,
"noodles": 20,
"apple" :5
}
print (items_dict)

items_dict["banana"] = 5
print(items_dict)

items_dict["banana"] = 27
print(items_dict)

del items_dict["banana"]

{'sugar': 32, 'salt': 35, 'biscuits': 16, 'noodles': 20, 'apple': 5}
{'sugar': 32, 'salt': 35, 'biscuits': 16, 'noodles': 20, 'apple': 5, 'banana': 5}
{'sugar': 32, 'salt': 35, 'biscuits': 16, 'noodles': 20, 'apple': 5, 'banana': 27}

In [3]:
fav_books = ("python the basics", "Kiran", 2011)
print(fav_books[0])
print(fav_books[1])
print(fav_books[2])

python the basics
Kiran
2011

In [5]:
favorite_movies = [
    "movie 1", 
    "movie 2", 
    "movie 3", 
    "movie 4",
    "movie 5"]
print(favorite_movies)
print(favorite_movies[1])

favorite_movies.append("movie 6") 
print(favorite_movies)

favorite_movies.insert(2, "Movie 2 new") 
print(favorite_movies)

favorite_movies.remove("movie 3")
print(favorite_movies)

['movie 1', 'movie 2', 'movie 3', 'movie 4', 'movie 5']
movie 2
['movie 1', 'movie 2', 'movie 3', 'movie 4', 'movie 5', 'movie 6']
['movie 1', 'movie 2', 'Movie 2 new', 'movie 3', 'movie 4', 'movie 5', 'movie 6']
['movie 1', 'movie 2', 'Movie 2 new', 'movie 4', 'movie 5', 'movie 6']

In [7]:
first_course = {"Samir", "kiran", "ram", "Shoyana", "Chandra"}
second_course = {"samir", "kiran", "name3", "name4", "name5"}

both_course = first_course & second_course 
print("Students enrolled in both courses:", both_course)

Students enrolled in both courses: {'kiran'}

In [1]:
import numpy
print("Numpy Version", numpy.__version__)
import pandas
print("panda Version", pandas.__version__)

Numpy Version 1.26.4
panda Version 2.2.2

  species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
0  Adelie  Torgersen            39.1           18.7              181.0
1  Adelie  Torgersen            39.5           17.4              186.0
2  Adelie  Torgersen            40.3           18.0              195.0
3  Adelie  Torgersen             NaN            NaN                NaN
4  Adelie  Torgersen            36.7           19.3              193.0
5  Adelie  Torgersen            39.3           20.6              190.0

   body_mass_g     sex
0       3750.0    MALE
1       3800.0  FEMALE
2       3250.0  FEMALE
3          NaN     NaN
4       3450.0  FEMALE
5       3650.0    MALE
species                 Adelie
island               Torgersen
bill_length_mm            39.1
bill_depth_mm             18.7
flipper_length_mm        181.0
body_mass_g             3750.0
sex                       MALE
Name: 0, dtype: object