In [13]:
import numpy as np
import pandas as pd
#__version__ shows which versions we are using.
# print("Numpy Version", numpy.__version__)
# import pandas
# print("panda Version", pandas.__version__)

#this loads the desired csv files.
df = pd.read_csv('penguins.csv')

#print first six rows
print(df.head(6))

#prints last six rows
print(df.tail(6))

#it prints the first row
first_row = df.iloc[0]
print(first_row)


print(df.info())
# print(df.describe())
# print(df.info())


column_data = df['species'] # Accesses the column named 'ColumnName'
column_data
# missing_values = df.isnull().sum()
# print(missing_values)

first_row = df.iloc[0]

# df_filled = df.fillna('Unknown')
# print(df_filled.isnull().sum())
# pd.set_option('display.max_rows', None)

# # Set the display option to show all rows
# column_data = df['Country'] # Accesses the column with name Country
# column_data
# # # Reset the display option back to the default (show a limited number of rows)
# pd.reset_option('display.max_rows')

# filtered_data = df[df['ColumnName'] > 50]

# filtered_data = df[df['State'] > 50]
# filtered_data = df[df['Sales'] > 50.00] 
# print
# print(df['State'].dtype)

# df.columns = ['States', 'noneStates']
# print(df)

first_row_label = df.loc[0]

filtered_data = df[df['bill_length_mm'] > 40]

#new column
df['NewColumn'] = df['species'] + df['island']
print(df.head(6))

  species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
0  Adelie  Torgersen            39.1           18.7              181.0
1  Adelie  Torgersen            39.5           17.4              186.0
2  Adelie  Torgersen            40.3           18.0              195.0
3  Adelie  Torgersen             NaN            NaN                NaN
4  Adelie  Torgersen            36.7           19.3              193.0
5  Adelie  Torgersen            39.3           20.6              190.0

   body_mass_g     sex
0       3750.0    MALE
1       3800.0  FEMALE
2       3250.0  FEMALE
3          NaN     NaN
4       3450.0  FEMALE
5       3650.0    MALE
    species  island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
338  Gentoo  Biscoe            47.2           13.7              214.0
339  Gentoo  Biscoe             NaN            NaN                NaN
340  Gentoo  Biscoe            46.8           14.3              215.0
341  Gentoo  Biscoe            50.4           15.7              222.0
342  Gentoo  Biscoe            45.2           14.8              212.0
343  Gentoo  Biscoe            49.9           16.1              213.0

     body_mass_g     sex
338       4925.0  FEMALE
339          NaN     NaN
340       4850.0  FEMALE
341       5750.0    MALE
342       5200.0  FEMALE
343       5400.0    MALE
species                 Adelie
island               Torgersen
bill_length_mm            39.1
bill_depth_mm             18.7
flipper_length_mm        181.0
body_mass_g             3750.0
sex                       MALE
Name: 0, dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 344 entries, 0 to 343
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   species            344 non-null    object
 1   island             344 non-null    object
 2   bill_length_mm     342 non-null    float64
 3   bill_depth_mm      342 non-null    float64
 4   flipper_length_mm  342 non-null    float64
 5   body_mass_g        342 non-null    float64
 6   sex                333 non-null    object
dtypes: float64(4), object(3)
memory usage: 18.9+ KB
None
  species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
0  Adelie  Torgersen            39.1           18.7              181.0
1  Adelie  Torgersen            39.5           17.4              186.0
2  Adelie  Torgersen            40.3           18.0              195.0
3  Adelie  Torgersen             NaN            NaN                NaN
4  Adelie  Torgersen            36.7           19.3              193.0
5  Adelie  Torgersen            39.3           20.6              190.0

   body_mass_g     sex        NewColumn
0       3750.0    MALE  AdelieTorgersen
1       3800.0  FEMALE  AdelieTorgersen
2       3250.0  FEMALE  AdelieTorgersen
3          NaN     NaN  AdelieTorgersen
4       3450.0  FEMALE  AdelieTorgersen
5       3650.0    MALE  AdelieTorgersen